// color
$snow-color: #fff;
$night-color: #000;
$color-1: #3641db;
$color-2: #1900ff;
$color-3: #5948f4;
$color-4: rgb(255, 255, 255);
$color-5: #2a3741;
$color-6: #a3d3ff;
$color-7: #16183a;
$color-8: #49e2db;

// alpha
$alpha-1: 1;
$alpha-2: 0.8;
$alpha-3: 0.9;
$alpha-4: 0.5;

// degree
$degree-1: 165deg;

// font size
$font-size-0: 60px;
$font-size-1: 72px;

$font-size-2: 8px;
$font-size-3: 12px;
$font-size-4: 16px;
$font-size-5: 20px;
$font-size-6: 24px;
$font-size-7: 28px;
$font-size-8: 32px;
$font-size-9: 36px;
$font-size-10: 40px;

